.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  gap: 10px;
  width: auto; 
  padding: 10px 10px 10px 20px;
  border: 1px solid var(--color-whte);
  background-color: var(--color-whte);
  color: var(--color-primary);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: .25s ease-in-out;

  &__icon {
    --bg-color: var(--color-primary);
    --icon-color: var(--color-whte);
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(sm) {
      width: 28px;
      height: 28px;
    }

    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background-color: var(--icon-color);
      mask: url('../img/icons/arrow-btn.svg') center center / contain no-repeat;
      -webkit-mask: url('../img/icons/arrow-btn.svg') center center / contain no-repeat;

      @include mq(sm) {
        width: 10px;
        height: 10px;
      }
    }
  }

  @include mq(sm) {
    padding: 5px 5px 5px 11px;
    font-size: 14px;
  }

  @media(any-hover: hover) {
    &:hover {
      background-color: cl(primary-hover);
      border-color: cl(primary-hover);
      color: cl(whte);
    }
  }

  &--center {
    justify-content: center;
  }

  &--secondary {
    background-color: var(--color-third);
    color: var(--color-whte);

    .btn__icon {
      --bg-color: var(--color-whte);
      --icon-color: var(--color-third);
    }

    @media(any-hover: hover) {
      &:hover {
        background-color: var(--color-primary);
        border-color: var(--color-primary);

        .btn__icon {
          --icon-color: var(--color-primary);
        }
      }
    }
  }

  &--wide {
    width: 100%;
  }

  &--xl {
    padding: 40px;
    font-size: 32px;
    justify-content: center;

    @include mq(md) {
      font-size: 16px;
      padding: 24px;
      border-radius: 22px;
    }

    @include mq(sm) {
      padding: 12px;
    }
  }
}