.helping {

  &__title {
    font-size: 76px;
    margin-bottom: 50px;
    color: var(--color-primary);
    font-weight: 700;

    @include mq(xxl) {
      font-size: 56px;
    }

    @include mq(lg) {
      font-size: 48px;
      margin-bottom: 30px;
    }

    @include mq(md) {
      font-size: 32px;
      margin-bottom: 20px;
    }

    @include mq(sm) {
      font-size: 20px;
    }
  }

  &__blocks {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    @include mq(md) {
      flex-direction: column;
      gap: 32px;
    }
  }

  &__block {
    width: 100%;

    &-title {
      font-size: 48px;
      margin-bottom: 30px;
      font-weight: 600;
      color: var(--color-primary);

      @include mq(lg) {
        font-size: 32px;
      }

      @include mq(md) {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    &-desc {
      font-size: 28px;

      @include mq(lg) {
        font-size: 24px;
      }

      @include mq(md) {
        font-size: 16px;
      }
    }
  }
}