.news {

  &__title {
    margin-bottom: 50px;
    color: var(--color-primary);

    @include mq(md)  {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @include mq(md) {
      grid-template-columns: 1fr;
    }
  }
}

.news-item {
  background-color: var(--color-primary-light);
  border-radius: 40px;
  padding: 20px;

  @include mq(md)  {
    padding: 16px;
    border-radius: 22px;
  }

  &__img {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    @include mq(md) {
      margin-bottom: 16px;
      border-radius: 16px;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 30px;

      @include mq(md) {
        border-radius: 18px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
    min-height: 320px;

    @include mq(md)  {
      min-height: initial;
      padding: 0 16px;
    }
  }

  &__date {
    font-size: 24px;
    color: cl(text, 0.4);
    margin-bottom: 30px;

    @include mq(md)  {
      margin-bottom: 16px;
      font-size: 16px;
    }
  }

  &__title {
    font-size: 32px;
    margin-bottom: 24px;

    @include mq(md)  {
      font-size: 20px;
    }
  }

  &__link {
    font-size: 20px;
    display: inline-block;
    margin-top: auto;
    border-bottom: 1px solid currentColor;

    @include mq(md)  {
      font-size: 16px;
    }
  }
}