.subscribe {

  &__inner {
    padding: 80px 10px;
    border-radius: 40px;
    background-color: var(--color-primary);

    @include mq(md) {
      padding: 40px 20px;
      border-radius: 22px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 700;
    color: var(--color-whte);

    @include mq(md) {
      margin-bottom: 40px;
    }

    @include mq(sm) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @include mq(md) {
      grid-template-columns: 1fr;
    }
  }

  &__input {

    .form-control {
      text-align: center;
    }
  }

  &__btn {
    justify-content: center;
  }
}