section.about.section 
  .container 
    .about__title О нас
    .about__content 
      .about__img 
        source(srcset="./img/hero/hero.jpg" type="img/jpeg")
        img(src="./img/hero/hero.webp", alt="")
      .about__info 
        .about__info-title Лидер общественного движения "МЫ74" 
          span Илья Мительман:
        .about__info-text 
          p Наша деятельность является продолжением работы общественного движения „Команда Мительмана“. Мы предоставляем продуктовые наборы тем, для кого это вопрос жизни и смерти.
          p На сегодняшний день мы обеспечиваем питанием 200 человек. В дальнейшем планируем расширить работу и охватить заботой больше категорий нуждающихся.
          p Наша задача помочь тем, кто не может помочь себе сам, у кого нет родственников, неоткуда ждать помощи.
          p Здесь мы не ставим перед собой политических задач, хотим помогать жителям нашего города. Движение финансируется из моих личных средств и средств наших предприятий, мы не собираем пожертвований.