section.section.about-info 
  .about-info__container.container
    .about-info__main 
      .about-info__main-info
        picture.about-info__main-logo 
          img(src="./img/logo-program-big.svg", alt="")
        a(href="#" style="../img/icons/arrow-btn.svg").about-info__main-btn.btn Подробнее
      picture.about-info__main-img
        img(src="./img/subscribe/subscribe.webp", alt="")
    .about-info__row 
      .about-info__row-title Подписка на новости
      form.about-info__form(action="")
        input(type="text" placeholder="Введите ваш e-mail").form-control.about-info__form-input  
        a(href="#" style="../img/icons/arrow-btn.svg").about-info__form-btn.btn Подписаться