section.helping.section
  .container
    .helping__title Нужна помощь?
    .helping__desc Мы помогаем одиноким пенсионерам-инвалидам, детям-сиротам с особенностями здоровья
    .helping__blocks 
      .helping__block 
        h2 Основания для получения помощи
        ul 
          li Вы пенсионер-инвалид или ребенок-сирота с особенностями здоровья
          li У вас нет близких родственников
          li Вам не к кому обратиться за помощью
          li Вы проживаете и прописаны в Челябинске
        p
          | Мы не помогаем людям с вредными привычками и зависимостями.
          | Помощь предоставляется после обработки заявки и подтверждения полученной информации
          | К сожалению, мы не можем охватить все категории граждан, кому нужна помощь
      .helping__block 
        h2 Что нужно для получения помощи
        p 
          b 
            | Заполните анкету на нашем сайте или обратитесь к нам лично.
            | Мы поможем вам пройти все этапы оформления заявки.
        p
          | Мы стараемся не усложнять процесс получения
          | продовольственных наборов. И когда мы видим,
          | что человеку тяжело получить справки, сами делаем запросы в соответствующие государственные органы.