section.contacts(data-map) 
  .container 
    .contacts__title.h1 Контакты
    .contacts__content 
      .contacts__info 
        h1.contacts__info-title.h3 Приемная общественного движения 
          span “МЫ74”
        .contacts__info-section
          a.contacts__info-link(href="tel:+73512719375") +7 (351) 271 93 75
          a.contacts__info-link(href="mailto:mi74.help@gmail.com") mi74.help@gmail.com
        .contacts__info-section
          .contacts__info-adress г. Челябинск, пр. Комсомольский, 112а
        .contacts__info-section
          .contacts__info-days Вторник: 10:00 - 14:00
          .contacts__info-days Четверг: 10:00 - 17:00
      .contacts__map 
        .map#map