section.helping.section
  .container
    .helping__title Кому мы помогаем?
    .helping__blocks 
      .helping__block 
        .helping__block-title Одиноким пенсионерам-инвалидам
        .helping__block-desc  Мы поддерживаем одиноких пожилых людей, которым нужна помощь в обеспечении питанием, у которых нет родственников и кому неоткуда ждать помощи.
      .helping__block 
        .helping__block-title Детям-сиротам с особенностями здоровья (предоставляется жителям Челябинска)
        .helping__block-desc  Мы стараемся решить проблемы детей-сирот, связанных с их здоровьем