section.helping.section
  .container
    h1.helping__title Кому мы помогаем?
    .helping__blocks 
      .helping__block 
        h2 Одиноким пенсионерам-инвалидам
        p Мы поддерживаем одиноких пожилых людей, которым нужна помощь в обеспечении питанием, у которых нет родственников и кому неоткуда ждать помощи.
      .helping__block 
        h2 Детям-сиротам с особенностями здоровья (предоставляется жителям Челябинска)
        p Мы стараемся решить проблемы детей-сирот, связанных с их здоровьем