section.help 
  .container 
    .help__heading
      h1.help__title.h1 Хочу помочь
      .help__subtitle.h3 Если вы хотите помочь - свяжитесь с нами. Будем рады вашему участию.
      p Мы не принимаем пожертвований. Движение финансируется за счет личных средств Ильи Семеновича Мительмана и средств предприятий.
    .help__variants 
      .help__variant 
        picture.help__variant-img
          img(src="./img/help/help-01.webp", alt="") 
        .help__variant-info 
          .help__variant-title Помощь продуктами
          .help__variant-desc Вы можете предоставить продукты и участвовать в формировании продуктовых наборов.
      .help__variant 
        picture.help__variant-img
          img(src="./img/help/help-02.webp", alt="") 
        .help__variant-info 
          .help__variant-title Станьте волонтером
          .help__variant-desc Вы можете помочь нам формировать и доставлять продукты питания нуждающимся.
      .help__variant 
        picture.help__variant-img
          img(src="./img/help/help-02.webp", alt="") 
        .help__variant-info 
          .help__variant-title Прочее
          .help__variant-desc Если у вас есть предложения по участию в движении - напишите нам.
    a(href="#").help__btn.btn.btn--secondary.btn--wide.btn--xl
      .btn__text Написать нам
      .btn__icon