section.hero 
  .container.hero__container 
    picture.hero__img 
      option(srcset="./img/hero/hero.jpg" type="image/jpeg")
      img(src="./img/hero/hero.webp", alt="")
    .hero__info 
      .hero__title.h1 
        span Родному
        | городу - реальные дела!
      .hero__person И.С. Мительман
      .hero__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 