section.hero-fond 
  .container 
    .hero-fond__main 
      .hero-fond__info 
        .hero-fond__title.h1 Общественное движение 
          span “МЫ74”
        .hero-fond__desc Краткое интро о фонде. Мы помогаем одиноким пенсионерам-инвалидам, детям-сиротам с особенностями здоровья
      .hero-fond__slider(data-slider="fond")
        .swiper-wrapper
          //- .hero-fond__slide.swiper-slide
          //-   picture.hero-fond__img 
          //-     source(srcset="./img/hero/hero-fond-01.jpg" type="img/jpeg")
          //-     img(src="./img/hero/hero-fond-01.webp", alt="")
          //- .hero-fond__slide.swiper-slide
          //-   picture.hero-fond__img 
          //-     source(srcset="./img/hero/hero-fond-02.jpg" type="img/jpeg")
          //-     img(src="./img/hero/hero-fond-02.webp", alt="")
          .hero-fond__slide.swiper-slide
            picture.hero-fond__img 
              source(srcset="./img/hero/hero-fond-03.jpg" type="img/jpeg")
              img(src="./img/hero/hero-fond-03.webp", alt="")
          //- .hero-fond__slide.swiper-slide
          //-   picture.hero-fond__img 
          //-     source(srcset="./img/hero/hero-fond-04.jpg" type="img/jpeg")
          //-     img(src="./img/hero/hero-fond-04.webp", alt="")
    .hero-fond__links 
      a.hero-fond__link(href="#") Кому помогаем?
      a.hero-fond__link(href="#") Нужна помощь?
      a.hero-fond__link(href="#") Хочу помочь
