section.news.section 
  .container 
    .news__head 
      h2.news__title.h2 Новости
      a(href="#").news__btn Еще новости
    .news__list 
      .news__item 
        .news__item-info 
          .news__item-date 21.08.24
          .news__item-title Волонтеры движения помогли благотворительному фонду "ДоброДомик"
          a.news__item-link(href="#") Читать подробнее
        picture.news__item-img 
          source(srcset="./img/news/news-01.png" type="image/png")
          img(src="./img/news/news-01.webp", alt="")
      .news__item 
        .news__item-info 
          .news__item-date 21.08.24
          .news__item-title Волонтеры движения помогли благотворительному фонду "ДоброДомик"
          a.news__item-link(href="#") Читать подробнее
        picture.news__item-img 
          source(srcset="./img/news/news-02.png" type="image/png")
          img(src="./img/news/news-02.webp", alt="")