section.residents.section 
  .container 
    .residents__head Помощь предоставляется только 
      span жителям Челябинска
    .residents__peoples 
      picture.residents__peoples-item 
        source(srcset="./img/residents/residents-01.jpg" type="img/jpeg")
        img(src="./img/residents/residents-01.webp", alt="")
      picture.residents__peoples-item 
        source(srcset="./img/residents/residents-02.jpg" type="img/jpeg")
        img(src="./img/residents/residents-02.webp", alt="")
      picture.residents__peoples-item 
        source(srcset="./img/residents/residents-03.jpg" type="img/jpeg")
        img(src="./img/residents/residents-03.webp", alt="")
    a(href="#").residents__btn.btn.btn--secondary.btn--center Заполнить анкету 
      .btn__text Подписаться
      .btn__icon