section.steps.section
  .container 
    .steps__info
      .steps__title.h3 Как получить помощь?
      .steps__list
        .steps__item  
          .steps__item-num 1
          .steps__item-info 
            .steps__item-title Заполните анкету
            .steps__item-desc Заполните онлайн-анкету на нашем сайте и предоставьте необходимые документы
        .steps__item  
          .steps__item-num 2
          .steps__item-info 
            .steps__item-title Пройдите процесс проверки заявки
            .steps__item-desc Наши волонтеры проверят информацию в анкете и свяжутся с вами
        .steps__item  
          .steps__item-num 3
          .steps__item-info 
            .steps__item-title Получите продуктовые наборы
            .steps__item-desc Если ваша заявка будет одобрена, вы получите продуктовые наборы от социального общественного движения “МЫ74”
    a(href="#").steps__btn.btn.btn--xl.btn--secondary.btn--wide 
      .btn__text Заполнить анкету
      .btn__icon
