section.subscribe.section 
  .container 
    .subscribe__inner 
      .subscribe__title Подписаться на новости
      form.subscribe__form(action="#")
        .subscribe__input
          input(type="text" placeholder="Введите ваш e-mail").form-control 
        button(type="submit").subscribe__btn.btn Подписаться