section.team.section 
  .container 
    .team__desc 
      h2 Наша команда
      p Общественное движение «МЫ74» выросло из общественного движения «Команда Мительмана» (работает с 2013 года).
      p ООО КФ «ФАНТЭЛЬ» и лично Илья Семенович Мительман является активным меценатом и спонсором различных спортивных и культурно- массовых мероприятий города Челябинска, на постоянной основе помогает благотворительному фонду «ДоброДомик»
    .team__list 
      .team__card 
        .team__card-info 
          span 1000+
          | продуктовых наборов
          br
          | уже переданы нуждающимся
      .team__card 
        .team__card-person 
          picture.team__card-person-img 
            source(srcset="./img/valanteur/img-01.jpg" type="img/jpeg")
            img(src="./img/valanteur/img-01.webp", alt="")
          .team__card-person-title Ирина Инженевская, волонтер
      .team__card 
        .team__card-person 
          picture.team__card-person-img 
            source(srcset="./img/valanteur/img-02.jpg" type="img/jpeg")
            img(src="./img/valanteur/img-02.webp", alt="")
          .team__card-person-title Ирина Инженевская, волонтер
      .team__card 
        .team__card-person 
          picture.team__card-person-img 
            source(srcset="./img/valanteur/img-03.jpg" type="img/jpeg")
            img(src="./img/valanteur/img-03.webp", alt="")
          .team__card-person-title Ирина Инженевская, волонтер
      .team__card 
        .team__card-person 
          picture.team__card-person-img 
            source(srcset="./img/valanteur/img-04.jpg" type="img/jpeg")
            img(src="./img/valanteur/img-04.webp", alt="")
          .team__card-person-title Ирина Инженевская, волонтер
      .team__card 
        .team__card-person 
          picture.team__card-person-img 
            source(srcset="./img/valanteur/img-05.jpg" type="img/jpeg")
            img(src="./img/valanteur/img-05.webp", alt="")
          .team__card-person-title Ирина Инженевская, волонтер