.footer 
  .container 
    .footer__inner 
      .footer__main 
        a.footer__logo(href="#")
          img(src="./img/logo-74-f.svg", alt="")
        nav.footer__nav 
          ul.footer__nav-list 
            li.footer__nav-item
              a(href="#") О нас
            li.footer__nav-item
              a(href="#") Кому  поможем
            li.footer__nav-item
              a(href="#") Контакты
      .footer__bottom 
        .footer__copyright © 2024 МЫ74. Все права защищены
        a.footer__policy(href="") Политика конфиденциальности