.header 
  .header__inner.container 
    a.header__logo(href="#")
      img(src="./img/logo.svg", alt="") 
    .header__menu 
      nav.header__nav 
        ul.header__nav-list 
          li.header__nav-item.is-active
            a(href="#") О команде
          li.header__nav-item
            a(href="#") Новости
          li.header__nav-item
            a(href="#") Приемная
      a(href="#").header__logo-program 
        img(src="./img/logo-program.svg", alt="")