.header.header--secondary
  .header__inner.container 
    a.header__logo(href="#")
      img(src="./img/logo-74.svg", alt="") 
    .header__menu.js-header-menu
      nav.header__nav 
        button(type="button").header__nav-close.js-header-menu-close
        ul.header__nav-list 
          li.header__nav-item.is-active
            a(href="#") О нас
          li.header__nav-item
            a(href="#") Кому поможем?
          li.header__nav-item
            a(href="#") Контакты
    button.header__burger.js-header-menu-btn 
      span 