doctype html
html(lang="en")
  include mixins/_mixins
  include includes/head
  +head('Title')
  body
    include components/header
    main
      .container
        h3(style="margin-bottom: 24px; font-size: 32px; font-weight: 500") Страницы
        ul 
          li 
            a(href="home.html" style="margin-bottom: 16px;") Главная
          li 
            a(href="home-fond.html" style="margin-bottom: 16px;") Главная Фонда
          li 
            a(href="news.html" style="margin-bottom: 16px;") Новости
          li 
            a(href="helping.html" style="margin-bottom: 16px;") Кому мы помогаем
          li 
            a(href="about.html" style="margin-bottom: 16px;") О нас
          li 
            a(href="about-02.html" style="margin-bottom: 16px;") О нас 2
          li 
            a(href="help.html" style="margin-bottom: 16px;") Хочу помочь
          li 
            a(href="contacts.html" style="margin-bottom: 16px;") Контакты
          li 
            a(href="conditions.html" style="margin-bottom: 16px;") Нужна помощь ?
    include components/footer
    include includes/scripts