h1,
h2,
h3,
p {
  margin: 0;
}

.h1 {
  font-size: 76px;
  line-height: 1.2;
  font-weight: 700;

  @include mq(xxl) {
    font-size: 56px;
  }

  @include mq(lg) {
    font-size: 40px;
  }

  @include mq(sm) {
    font-size: 26px;
  }
}

.h2 {
  font-size: 60px;
  font-weight: 700;

  @include mq(lg) {
    font-size: 40px;
  }

  @include mq(sm) {
    font-size: 20px;
  }
}

.h3 {

}